##### Part -1 Python Basics (Variables)
1-Print Your Name with your Father name and Date of birth using suitable escape sequence character?

In [7]:
name = "Rohan" # String
father_name = "Abdul Naeem"
dob = "04-10-2000"
print("Name:\t\t", name)
print("Father's Name:\t", father_name)
print("Date of Birth:\t", dob)

Name:		 Rohan
Father's Name:	 Abdul Naeem
Date of Birth:	 04-10-2000

###### 2-Write your small bio using variables and print it using print function?on?

In [13]:
name = "Rohan"
age = "30"
occupation = "Accountant"
interest = "explore new Technologies like AI"
print("My Name is:",name)
print("My age is:", age)
print("My Occupation is:",occupation)
print("My interest in:",interest)

My Name is: Rohan
My age is: 30
My Occupation is: Accountant
My interest in: explore new Technologies like AI

##### 3- Write a program in which use all the operators we can use in Python?

In [14]:
# Arithmetic Operators
a = 10
b = 3

print("Arithmetic Operators:")
print("a + b =", a + b)  # Addition
print("a - b =", a - b)  # Subtraction
print("a * b =", a * b)  # Multiplication
print("a / b =", a / b)  # Division
print("a // b =", a // b)  # Floor Division
print("a % b =", a % b)  # Modulus
print("a ** b =", a ** b)  # Exponentiation
print()

Arithmetic Operators:
a + b = 13
a - b = 7
a * b = 30
a / b = 3.3333333333333335
a // b = 3
a % b = 1
a ** b = 1000

In [16]:
# Comparison Operators
x = 5
y = 7

print("Comparison Operators:")
print("x == y is", x == y)  # Equal to
print("x != y is", x != y)  # Not equal to
print("x > y is", x > y)    # Greater than
print("x < y is", x < y)    # Less than
print("x >= y is", x >= y)  # Greater than or equal to
print("x <= y is", x <= y)  # Less than or equal to
print()

Comparison Operators:
x == y is False
x != y is True
x > y is False
x < y is True
x >= y is False
x <= y is True

In [2]:
# Logical Operators
p = True
q = False

print("Logical Operators:")
print("p and q is", p and q)  # Logical AND
print("p or q is", p or q)    # Logical OR

Logical Operators:
p and q is False
p or q is True

In [19]:
# Assignment Operators
num = 10
num += 5    # num = num + 5
print("Assignment Operators:")
print("num =", num)
print()

Assignment Operators:
num = 15

In [5]:
# String Concatenation
str1 = "Hello"
str2 = "World"
print("String Concatenation:")
print("str1 + str2 =", str1  + str2)

String Concatenation:
str1 + str2 = HelloWorld

##### 4-Complete the following steps of small task:
Mention Marks of English , Islamiat and Maths out of 100 in 3 different variables
Mention Variable of Total Marks and assign 300 to it
Calculate Pecen?t?age

In [1]:
english_marks = float(input("Enter your English Marks:"))
islamiat_marks = float(input("Enter your Islamiat Marks:"))
math_marks = float(input("Enter your Math Marks:"))
obtain_marks = (english_marks + islamiat_marks + math_marks)
total_marks = int(input("Enter Total Marks:"))
percentage = print("Total Percentge is:",(obtain_marks/total_marks)*100)

Enter your English Marks: 75
Enter your Islamiat Marks: 78
Enter your Math Marks: 98
Enter Total Marks: 300

Total Percentge is: 83.66666666666667

In [6]:
# without input
english_marks = 98
islamiat_marks = 98 
math_marks = 98
obtain_marks = (english_marks + islamiat_marks + math_marks)
total_marks = 300
percentage = print("Total Percentge is:",(obtain_marks/total_marks)*100)

Total Percentge is: 98.0

##### Part -2 Python Basics (Conditional Statements)

In [5]:
#1 -A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
#Ask user for their salary and year of service and print the net bonus amount?

In [8]:
salary = float(input("Enter Amount of Salary:"))
service = float(input("Enter Period of Service:"))
if service > 5:
    bonus = 0.05 * salary
    print("YOUR NET BONUS IS:",bonus)
else:
    print("YOU DON'T HAVE SUFFICENT SERVICE")

Enter Amount of Salary: 1000000
Enter Period of Service: 9

YOUR NET BONUS IS: 50000.0

In [9]:
# 2- Write a program to check whether a person is eligible for voting or not. (accept age from user) 
#if age is greater than 17 eligible otherwise not eligible

In [10]:
age = float(input("Please Enter your Age:"))
if age > 17:
    print("YOU ARE ELIGIBLE FOR VOTING")
else:
    print("YOU ARE NOT ELIGIBLE FOR VOTING")

Please Enter your Age: 55

YOU ARE ELIGIBLE FOR VOTING

In [12]:
# 3-Write a program to check whether a number entered by user is even or odd.

In [11]:
number = int(input("ENTER THE NUMBER"))
if number % 2 == 0:
    print(" IT IS A EVEN NUMBER")
else:
    print("IT IS A ODD NUMBER")

ENTER THE NUMBER 5

IT IS A ODD NUMBER

In [17]:
# 4-Write a program to check whether a number is divisible by 7 or not. Show Answer?

In [21]:
number = int(input("ENTER THE NUMBER"))
if number % 7== 0:
    print(" IT IS DIVISIBLE BY 7")
else:
    print(" IT IS NOT DIVISIBLE BY 7")

ENTER THE NUMBER 34

 IT IS NOT DIVISIBLE BY 7

In [25]:
# 5- Write a program to display "Hello" if a number entered by user is a multiple of five , otherwise print "Bye".

In [28]:
number = int(input("ENTER THE NUMBER"))
if number % 5== 0:
    print(" Hello")
else:
    print("Bye")

ENTER THE NUMBER 25

 Hello

In [29]:
# 7-Write a program to display the last digit of a number.

In [31]:
number = int(input("ENTER THE NUMBER"))
last_digit = number % 10
print("LAST DIGIT IF NUMBER IS:",last_digit)

ENTER THE NUMBER 555555558888897412366

LAST DIGIT IF NUMBER IS: 6

In [32]:
# 9- Take values of length and breadth of a rectangle from user and print if it is square or rectangle.

In [35]:
length = float(input("ENTER THE length"))
breadth = float(input("ENTER THE Breadth"))
if length == breadth:
    print(" IT IS A SQUARE")
else:
    print("IT IS A RECTANGLE")

ENTER THE length 5
ENTER THE Breadth 5

 IT IS A SQUARE

In [36]:
# 10-Take two int values from user and print greatest among them.

In [39]:
number1 = float(input("ENTER THE NUMBER 1"))
number2 = float(input("ENTER THE NUMBER 2"))
greatest = max(number1,number2)
print("THE GREATEST NUMBER IS:", greatest)

ENTER THE NUMBER 1 56
ENTER THE NUMBER 2 65

THE GREATEST NUMBER IS: 65.0

In [40]:
# 11-A shop will give discount of 10% if the cost of purchased quantity is more than 1000. 
#Ask user for quantity Suppose, one unit will cost 100. Judge and print total cost for user.

In [49]:
unit = 100
quantity = int(input("Please Enter The Quantity Of Unit: "))
total_cost = unit*quantity
print("TOTAL COST IS:",total_cost)
if total_cost > 1000:
    discount = total_cost * 0.10
    print("THE TOTAL DISCOUNT YOU GET:", discount)
    net_cost = total_cost - discount
    print("THE NET AMOUNT IS:", net_cost)
else:
    print("THE TOTAL COST OF UNITS IS:",total_cost)

Please Enter The Quantity Of Unit:  45

TOTAL COST IS: 4500
THE TOTAL DISCOUNT YOU GET: 450.0
THE NET AMOUNT IS: 4050.0

In [52]:
# 12- A school has following rules for grading system:
#a. Below 25 - F

#b. 25 to 45 - E

#c. 45 to 50 - D

#d. 50 to 60 - C

#e. 60 to 80 - B

#f. Above 80 - A

#Ask user to enter marks and print the corresponding grade

In [15]:
marks = float(input("Enter your marks: "))
if marks > 80:
    grade = "A"
elif marks <=80 and marks >60:
    grade = "B"
elif marks <=60 and marks >50:
    grade = "C"
elif marks <=50 and marks >45:
    grade = "D"
elif marks <=45 and marks >25:
    grade = "E"
else:
    grade = "F"
print("YOUR GRADE IS:", grade)

Enter your marks:  98

YOUR GRADE IS: A

In [6]:
# 14)- A student will not be allowed to sit in exam if his/her attendence is less than 75%.?
# Take following input from user
#Number of classes held
#Number of classes attended.
#And print
#percentage of class attended
#Is student is allowed to sit in exam or not.

In [18]:
classes_held = int(input("Please Enter The Number Of Classes Held:" ))
classes_attended = int(input( "Please Enter The Number Of Classes attendended:"))
percentage_of_attenden_classes = (classes_attended/classes_held)*100
print("Percentage of Attendance:",percentage_of_attenden_classes)
if percentage_of_attenden_classes >= 75:
    print("Student is allowed to sit in exam")
else:
    print("Student Is Not Allowed To Sit In Exam")

Please Enter The Number Of Classes Held: 100
Please Enter The Number Of Classes attendended: 65

Percentage of Attendance: 65.0
Student Is Not Allowed To Sit In Exam

In [16]:
# 15- Modify the above question to allow student to sit if he/she has medical cause.
#Ask user if he/she has medical cause or not ( 'Y' or 'N' ) and print accordingly.

In [29]:
classes_held = int(input("Please Enter The Number Of Classes Held:" ))
classes_attended = int(input( "Please Enter The Number Of Classes attendended:"))
student_medically_Cause = input("Do You Have Any Medical Issue:" )
percentage_of_attenden_classes = (classes_attended/classes_held)*100
print("Percentage of Attendance:",percentage_of_attenden_classes)
if percentage_of_attenden_classes >= 75:
    print("Student is allowed to sit in exam")
elif student_medically_Cause == "y":
    print("Student is allowed to sit in exam")
else:
    print("Student Is Not Allowed To Sit In Exam")

Please Enter The Number Of Classes Held: 700
Please Enter The Number Of Classes attendended: 500
Do You Have Any Medical Issue: no

Percentage of Attendance: 71.42857142857143
Student Is Not Allowed To Sit In Exam

In [30]:
#  16-  Write a program to check if a year is leap year or not.
#If a year is divisible by 4 then it is leap year but 
#if the year is century year like 2000, 1900, 2100 then it must be divisible by 400.

In [35]:
year = int(input("Please Enter The Year:" ))
if year % 4 ==0:
    print ("This is a Leap Year")
elif year % 400 == 0:
    print ("This is a Leap Year")
else:
    print ("This is not a Leap Year")

Please Enter The Year: 2024

This is a Leap Year

In [37]:
# 17-  Ask user to enter age, gender ( M or F ), marital status ( Y or N ) and then using following rules print their place of service.
#if employee is female, then she will work only in urban areas.
#if employee is a male and age is in between 20 to 40 then he may work in anywhere
#if employee is male and age is in between 40 t0 60 then he will work in urban areas only.
#And any other input of age should print "ERROR"

In [19]:
age = int(input("Enter your age: "))
gender = input("Enter your gender (M or F): ")
marital_status = input("Enter your marital status (Y or N): ")

if gender.upper() == "F":
  place_of_service = "Urban areas only"
elif gender.upper() == "M":
  if 20 <= age <= 40:
    place_of_service = "Anywhere"
  elif 40 <= age <= 60:
    place_of_service = "Urban areas only"
  else:
    place_of_service = "ERROR"
else:
  place_of_service = "ERROR"
print("Your place of service is:", place_of_service)

Enter your age:  55
Enter your gender (M or F):  F
Enter your marital status (Y or N):  Y

Your place of service is: Urban areas only

In [48]:
# 6--- Write a program to calculate the electricity bill (accept number of unit from user) 
#according to the following criteria : Unit Price uptp 100 units no charge Next 200 units
#Rs 5 per unit After 200 units Rs 10 per unit (For example if input unit is 350 than total bill amount is Rs.3500 
#(For example if input unit is 97 than total bill amount is Rs.0 (For example if input unit is 150 than total bill amount is Rs.750

In [64]:
units = int(input( "Please Enter Number of Units:" ))
if units <= 100:
    bill_amount = 0
elif units <= 300:    
    bill_amount = 5*(units - 100)
else:
    bill_amount = 10*units
print("YOURS ELECTRICITY AMOUNT IS :", bill_amount)

Please Enter Number of Units: 250

YOURS ELECTRICITY AMOUNT IS : 750

In [65]:
# 13- Take input of age of 3 people by user and determine oldest and youngest among them.

In [68]:
age1 = int(input("Enter the age of the first person: "))
age2 = int(input("Enter the age of the second person: "))
age3 = int(input("Enter the age of the third person: "))
oldest = max(age1, age2, age3)
youngest = min(age1, age2, age3)
print("The oldest person is", oldest, "years old.")
print("The youngest person is", youngest, "years old.")

Enter the age of the first person:  23
Enter the age of the second person:  32
Enter the age of the third person:  78

The oldest person is 78 years old.
The youngest person is 23 years old.